@charset "utf-8";
/* CSS Document */
figure.highlight {
  background: #000;
  border: 1px solid color-border;
  margin-top: 15px;
  padding: 7px 15px 7px 10px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 1em;
  font-family: font-mono;
}